.root{
-fx-background-image:url("background.jpg");
-fx-background-repeat: no-repeat;
-fx-background-position: left top,center;
-fx-background-size: cover, auto;
-fx-font-size: 20px;
-fx-font-weight: bolder;

}



